<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BackupKeyBag</key>
	<data>
	</data>
	<key>Date</key>
	<integer>1787906085</integer>
	<key>Files</key>
	<dict>
		<key>1a0e7afc19d307da602ccdcece51af33afe92c53</key>
		<dict>
			<key>Domain</key>
			<string>HomeDomain</string>
			<key>Flags</key>
			<integer>1</integer>
			<key>Length</key>
			<integer>24576</integer>
			<key>RelativePath</key>
			<string>Library/Safari/History.db</string>
		</dict>
		<key>31bb7ba8914766d4ba40d6dfb6113c8b614be442</key>
		<dict>
			<key>Domain</key>
			<string>HomeDomain</string>
			<key>Flags</key>
			<integer>1</integer>
			<key>Length</key>
			<integer>12288</integer>
			<key>RelativePath</key>
			<string>Library/AddressBook/AddressBook.sqlitedb</string>
		</dict>
		<key>3d0d7e5fb2ce288813306e4d4636395e047a3d28</key>
		<dict>
			<key>Domain</key>
			<string>HomeDomain</string>
			<key>Flags</key>
			<integer>1</integer>
			<key>Length</key>
			<integer>28672</integer>
			<key>RelativePath</key>
			<string>Library/SMS/sms.db</string>
		</dict>
		<key>5a4935c78a5255723f707230a451d79c540d2741</key>
		<dict>
			<key>Domain</key>
			<string>HomeDomain</string>
			<key>Flags</key>
			<integer>1</integer>
			<key>Length</key>
			<integer>8192</integer>
			<key>RelativePath</key>
			<string>Library/CallHistoryDB/CallHistory.storedata</string>
		</dict>
		<key>ba6e7649f9a4f8770a2306e8921d56522bf65bcf</key>
		<dict>
			<key>Domain</key>
			<string>HomeDomain</string>
			<key>Flags</key>
			<integer>1</integer>
			<key>Length</key>
			<integer>16384</integer>
			<key>RelativePath</key>
			<string>Library/Calendar/calendar.sqlitedb</string>
		</dict>
	</dict>
	<key>IsEncrypted</key>
	<false/>
	<key>SystemDomainsVersion</key>
	<integer>1</integer>
	<key>WasPasscodeSet</key>
	<false/>
</dict>
</plist>
