<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Device Name</key>
	<string>James's iPhone</string>
	<key>GUID</key>
	<string>00008140-00145CA91E83801C</string>
	<key>ICCID</key>
	<string>99198804908486</string>
	<key>IMEI</key>
	<string>76984239515884</string>
	<key>IMSI</key>
	<string>73910958409204</string>
	<key>ISIN</key>
	<string>78502905243803</string>
	<key>Lockdown</key>
	<dict>
		<key>BuildVersion</key>
		<string>18.0</string>
		<key>DeviceClass</key>
		<string>iPhone</string>
		<key>ModelNumber</key>
		<string>A3123</string>
		<key>ProductName</key>
		<string>iPhone</string>
		<key>ProductType</key>
		<string>iPhone15,3</string>
		<key>ProductVersion</key>
		<string>18.0</string>
		<key>SerialNumber</key>
		<string>J0L6I4H4Q8z1J</string>
		<key>UniqueBuildID</key>
		<string>739ae43bab423a96365f491a556c9bf5c5dd9bfcae75b53ca064b3ca537cfb65</string>
	</dict>
</dict>
</plist>
