<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Device Name</key>
	<string>Julie's iPhone</string>
	<key>GUID</key>
	<string>00008140-00145CA91E83801C</string>
	<key>ICCID</key>
	<string>69994056067282</string>
	<key>IMEI</key>
	<string>03129456289065</string>
	<key>IMSI</key>
	<string>48589636632073</string>
	<key>ISIN</key>
	<string>59843953844819</string>
	<key>Lockdown</key>
	<dict>
		<key>BuildVersion</key>
		<string>18.0</string>
		<key>DeviceClass</key>
		<string>iPhone</string>
		<key>ModelNumber</key>
		<string>A3123</string>
		<key>ProductName</key>
		<string>iPhone</string>
		<key>ProductType</key>
		<string>iPhone15,3</string>
		<key>ProductVersion</key>
		<string>18.0</string>
		<key>SerialNumber</key>
		<string>s6C0H1G3z6P6e</string>
		<key>UniqueBuildID</key>
		<string>f62d35c46f48854ddd23bab8dff9b5d59117efa39c5a68ef74af89deeb0d958d</string>
	</dict>
</dict>
</plist>
